<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Illustrator designer at Jet'aime Art </h1>
            <span><address>Ho Chi Minh, VN</address><time>2021 to Present</time></span>
        </header>
        <p> Wedding Designer at Jet'aime Art </p>
    </article>
    <article>
        <header>
            <h1>Art Director at Jet'aime Art</h1>
            <span><address>Ho Chi Minh, VN</address><time>2016 to 2021</time></span>
        </header>
        <p> Related to RAN tasks such as BSC, RNC, eNodeB, gNodeB </p>
    </article>
    <article>
        <header>
            <h1>Art teacher at Junyi</h1>
            <span><address>Beijing, China</address><time>2009 to 2016</time></span>
        </header>
        <p> Related to CS-Core tasks such as MSC, MSS, MGW</p>
    </article>    
</section>
