<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Art teacher at Junyi</h1>
            <span><address>Beijing, China</address><time>2019 to Present</time></span>
        </header>
        <p> Art illustrator, Visual, Sketch, Water Colour </p>
    </article>
    <article>
        <header>
            <h1>Creative Director at Jet'aime Art</h1>
            <span><address>Ho Chi Minh, Viet Nam</address><time>2015 to 2019</time></span>
        </header>
        <p> Advertising campaign, strategic vision, creat and plan new design </p>
    </article>
    <article>
        <header>
            <h1>Illustrator designer at Jet'aime Art</h1>
            <span><address>Ho Chi Minh, Viet Nam</address><time>2011 to 2014</time></span>
        </header>
        <p> Design, drawing, photography, digital illustrationn</p>
    </article>    
</section>
